@import '../../Foundation/colors';

// Register :

.register-Container {
    display: flex;
    padding: 1% 5% 180px 5%;
    justify-content: center;
    }
    .register {
        display: flex;
        justify-content: space-around;
        width: 85%;
        height: 430px;
        box-shadow: 0 0 20px rgba($blue-color, .2);
        border-radius: 20px;
        &-Image {
            width: auto;
            height: 350px;
            align-self: flex-end;
            padding: 35px 0 0 50px;
        }
        &-Info {
            direction: rtl;
            align-self: center;
            text-align: right;
            padding: 70px 75px 60px 50px;
            &-Title {
                color: $epiBlue-color;
                border-right: 4px solid $green-color;
                padding-right: 1rem;
                width: 266px;
                height: 27px;
                font-size: 20px;
                font-weight: bold;
                margin-bottom: 35px;
            }
            &-Description {
                width: 491px;
                height: 81px;
            }
            &-Input {
                background-color: $smokeWhite-color;
                width: 500px;
                height: 65px;
                border-radius: 10px;
                border: none;
                display: flex;
                justify-content: space-around;
                align-items: center;
                &-Input {
                    width: 300px;
                    height: 2.5rem;
                    background-color: $smokeWhite-color;
                    border: none;
                }
                &-Input:focus {
                    outline: none;
                }
                &-Button {
                    width: 130px;
                    height: 45px;
                    background-color: $blue-color;
                    color: $white-color;
                    font-size: 1rem;
                    cursor: pointer;
                    border: none;
                    border-radius: 10px;
                }
                &-Button:focus {
                    outline: none;
                }
            }
        }
    }

    // Responsive :

    @media(min-width:1150px) and (max-width:1300px) {
        
        .register {
            flex-wrap: wrap;
            height: 800px;
        }
   }
   
   // ------------------------------------------- // 
   
   @media(min-width:1000px) and (max-width:1150px) {
    
        .register {
            flex-wrap: wrap;
            height: 800px;
        }
   }
     
   // ------------------------------------------- // 
   
   @media(min-width:500px) and (max-width:1000px) {

        .register-Container {
            padding: 0% 2% 100px 0%;
        }
        .register {
            flex-flow: column;;
            flex-wrap: wrap;
            height: 700px;
            place-content: center;
            &-Image {
                padding: 0;
                height: 270px;
            }
            &-Info {
                
                padding: 70px 0px 60px 0px; 
                &-Description {
                    width: 380px;
                }
                &-Input {
                    width: 400px;
                    padding : 15px;
                    &-Button {
                        width: 100px;
                    }   
                }
            }
        }
   }
   
   // ------------------------------------------- // 
   
   @media(min-width:360px) and (max-width:500px) {
   
    .register-Container {
        padding: 0% 2% 100px 0%;
    }
    .register {
        flex-flow: column;;
        flex-wrap: wrap;
        width: 350px;
        height: 631px;
        place-content: center;
        &-Image {
            padding: 0;
            width: 262.3px;
            height: 195.7px;
            align-self: center;
        }
        &-Info {
            padding: 70px 0px 0px 0px;
            &-Description {
                width: 262px;
                height: 73px;
            }
            &-Input {
                width: 302px;
                height: 55px;
                padding : 15px;
                margin: 35px 0 60px 0;
                &-Input {
                    font-size: 10px;
                }
                &-Button {
                    width: 93px;
                    height: 38px;
                    font-size: 10px;
                }   
            }
        }
    }
   }
   
   // ------------------------------------------- // 
   
   @media(min-width:100px) and (max-width:360px) {

    .register-Container {
        padding: 0% 2% 100px 0%;
    }
    .register {
        flex-flow: column;;
        flex-wrap: wrap;
        width: 350px;
        height: 631px;
        place-content: center;
        &-Image {
            padding: 0;
            width: 262.3px;
            height: 195.7px;
            align-self: center;
        }
        &-Info {
            padding: 70px 0px 0px 0px;
            &-Description {
                width: 262px;
                height: 73px;
            }
            &-Input {
               display: none;
            }
        }
    }
   }