@import '../../Foundation/colors';

// FAQ Questions :

.FAQQuestion {
    direction: rtl;
    cursor: pointer;
    
    &-Title {
        padding: 1.5rem 0;
        display: flex;
        align-items: center;
        color: $epiBlue-color;
        &-MinesIcon,
        &-PlusIcon {
            font-size: 1.2rem;
            margin-left: 1.5rem;
        }
    }
    &-Texts {
        padding-bottom: 1rem;
        margin-right: 2rem;
        &-Text {
            color: $gray-textColor;
            border-right: 4px solid $green-color;
            padding-right: 2rem;
        }
    }
    &-Line {
        height: 1px;
        width: 100%;
        background-color: $cloudy-color;
    }
    &-List {
        margin: 80px 170px 140px 90px;
        text-align: right;
    }
}

// Responsive :


@media(min-width:1150px) and (max-width:1300px) {
    
    .FAQQuestion {
        &-List {
            margin: 80px 90px 140px 90px;
        }
    }
    
}

// ------------------------------------------- // 

@media(min-width:1000px) and (max-width:1150px) {

    .FAQQuestion {
        &-List {
            margin: 80px 50px 140px 90px;
        }
    }
}
 
// ------------------------------------------- // 

@media(min-width:500px) and (max-width:1000px) {

    .FAQQuestion {
        &-List {
            margin: 80px 30px 140px 70px;
            
        }
    }
   
}

// ------------------------------------------- // 

@media(min-width:360px) and (max-width:500px) {

    .FAQQuestion {
        &-List {
            margin: 80px 10px 140px 40px;
        }
        &-Title {
            font-size: 14px;
        }
    }
   
}

// ------------------------------------------- // 

@media(min-width:100px) and (max-width:360px) {

    .FAQQuestion {
        &-List {
            margin: 80px 10px 140px 20px;
        }
        &-Title {
            font-size: 14px;
        }
    }
    
}